/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lato&display=swap');

body {
    background-color: rgb(0, 140, 255);
    max-width: 1920px;
    overflow-x: hidden;
    margin-right: 0px;
}

h3,
h4 {
    /*font-weight: bold;*/
    text-transform: uppercase;
    font-family: 'Lato', sans-serif
}

ul,
ol {
    list-style: none;
}

section {
    padding: 45px 0px 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
}

section .heading h2 {
    text-transform: uppercase;

}

h2 {
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Baloo 2', cursive;
    text-transform: uppercase;
}

/* MENU */
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #0a0a0a;
    font-size: 15px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;



}

.nav-pills .nav-link {
    color: #0a0a0a;
    text-align: center;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
    color: #0a0a0a !important;
    background-color: #fff !important;

}

.navbar-toggler {
    color: #fff !important;
    border-style: none;
}


/* ABOUT */
#about {
    padding-top: 50px;
    /*background: #2c71d8;*/
}


#about .heading h1 {
    color: #000;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: 'Playball', cursive;
    padding-bottom: 35px;
}

#about .heading h3 {
    color: #000;
}

/*EVENT*/
.event-primary h2 {
    margin-top: 10px
}

.nopadding {
    padding: 0 !important
}

time {
    display: inline-block;
    width: 100%;
    color: rgb(255, 255, 255);
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}

p {
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

time.pink {
    background-color: rgb(197, 44, 102);
}

time.purple {
    background-color: rgb(165, 82, 167)
}

time.dkblue {
    background-color: #336699;
}

time.blue_green {
    background-color: #148aa5
}

time.blue_violet {
    background-color: #3714a4
}

time.brown {
    background-color: #964B00
}

time.crimson {
    background-color: #a50516
}

time.deep_pink {
    background-color: #fb3c8f
}

time.forest_green {
    background-color: #1b4f15
}

time.fuchsia {
    background-color: #a51497
}

time.gray {
    background-color: #686868
}

time.green {
    background-color: #533aa0
}

time.hotpink {
    background-color: #ff0080
}

time.lemon {
    background-color: #fee233
}

time.ligh_blue {
    background-color: #8bbdeb
}

time.light_red {
    background-color: #fc6a6c
}

time.lime {
    background-color: #c1fd33
}

time.lime_green {
    background-color: #2bfd2f
}

time.magenta {
    background-color: #fc1cad
}

time.maroon {
    background-color: #7f2b14
}

time.midnight {
    background-color: #000066
}

time.olive {
    background-color: #2b4726
}

time.orange {
    background-color: #fd7222
}

time.orange_red {
    background-color: #fc331c
}

time.orange_yellow {
    background-color: #ffcc00
}

time.peach {
    background-color: #FFE5B4
}

time.pink {
    background-color: #fc5ab8
}

time.purple {
    background-color: #af31f2
}

time.red {
    background-color: #fc0d1b
}

time.red_orange {
    background-color: #d7462c
}

time.salmon {
    background-color: #f69e94
}

time.tan {
    background-color: #f2ddbf
}

time.teal {
    background-color: #2b8a6d
}

time.violet {
    background-color: #6b28ce
}

time.violet_blue {
    background-color: #6041fa
}

time.white {
    background-color: #ffffff
}

time.yellow {
    background-color: #feee35
}

time.yellow_green {
    background-color: #defd35
}

time.yellow_orange {
    background-color: #fec42e
}

.time {
    background-color: rgb(165, 82, 167);
}


time>.day {
    display: block;
    font-size: 4em;
    font-weight: 100;
    line-height: 1;
}

time>.month {
    display: block;
    font-size: 24pt;
    font-weight: 900;
    line-height: 1;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.panel-primary>.panel-footer {
    color: #fff !important;
    background-color: #337ab7;
    border-color: #337ab7;
}

.panel-primary>.panel-footer p,
.panel-primary a {
    color: #393e61
}





/* FOOTER */
footer {
    padding: 20px 0 40px;
}

footer .fas {
    font-size: 25px;
    margin: 20px;
    color: #4c2cd8;
    height: 30px;
}

footer .fas:hover {
    font-size: 27px;
}

footer h5 {
    color: #0a0a0a;
    font-weight: normal;
}

/*responsive*/
@media screen and (max-width : 370px) {
    .container {
        flex-direction: column;

    }
}

@media (min-width: 576px) {
    .container {
        max-width: 575px;
        padding-right: 15;
        flex-direction: column;
    }
}


@media (min-width: 768px) {
    .container {
        max-width: 767px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 990px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1199px;
    }
}