/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Lato&display=swap');

body {
    background-color: aqua;
    max-width: 1920px;
}

h3,
h4,
h5
{
    /*font-weight: bold;*/
    text-transform: uppercase;
    font-family: 'Lato', sans-serif
}
ul,
ol {
    list-style: none;
}

section {
    padding: 45px 0px 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;
}

section .heading h2 {
    text-transform: uppercase;

}

h2 {
    text-align: center;
    padding-bottom: 40px;
    font-family: 'Baloo 2', cursive;
    text-transform: uppercase;
}

/* MENU */
.navbar {
    background-color: #0a0a0a;
    font-size: 15px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;


}

.nav-pills .nav-link {
    color: #0a0a0a;
    text-align: center;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
    color: #0a0a0a !important;
    background-color: #fff !important;

}

.navbar-toggler {
    color: #fff !important;
    border-style: none;
}

